* {
    padding: 0;
    margin: 0;
}

:root {
    --Color1: rgb(0, 94, 255);
    --Color2: white;
    --Color3: rgb(31, 31, 31);
    --Gap_Size: 15px;
}




.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    margin: auto;
    margin-top: 30px;
    margin-left: 50px;
    width: 70px;
    height: 26px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}
body{
    background-color: var(--Color2);
}


.ball {
    width: 25px;
    height: 25px;
    
    background-color: white;
    position: absolute;
    text-align: center;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(46px);
}

.fa-moon {
    color: pink;
}

.fa-sun {
    color: yellow;
}


.Math {
    width: 100%;
    display: flex;
    height: 20vh;
    justify-content: end;

}

.Math>.Math_Txt {
    display: flex;
    flex-direction: column;

    width: 75%;
    height: 100%;
}

.Math>.Math_Txt>:nth-child(1) {

    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
}

.Math>.Math_Txt>:nth-child(1)>p {
    margin-left: 20px;
}

.Math>.Math_Txt>:nth-child(2) {

    display: flex;
    color: var(--Color1);
    width: 100%;
    height: 70%;
    font-size: 5vi;
    align-items: center;
    justify-content: center;
}

.Math>.Ac_btn {
    margin-top: 3vh;
    width:21vi;
    height: 20vh;
    display: flex;
    margin-right: 5vi;
    align-items: center;
    color: var(--Color2);
    font-weight: bold;
    font-size: 4vi;
    justify-content: center;
    background-color: var(--Color1);
}

.Buttons {
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: var(--Color2);
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    background-color: var(--Color2);
    margin-top: var(--Gap_Size);
    grid-gap: var(--Gap_Size);
    width: 90%;
    height: 90%;
    grid-template-columns: auto auto auto auto;


}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: var(--Color3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.grid-item_d1 {
    color: var(--Color2);


}

.grid-item_d2 {
    background-color: var(--Color1);
    color: var(--Color2);

}

.grid-item_d2:hover {
    background-color: var(--Color2);
    color: var(--Color1);
}

.grid-item_d1:hover {
    background-color: var(--Color1);

}